nguage: haskell
branches:
  only:
  - source
env:
  global:
  - secure: MJdCv6qdy0FB6x/LzuiUb6yYE2q4ZssPJDy622AX+E2U199z0r3CAWpucqctXq+DJJtHYiIx10Cn9Hhe5GTxI+dzTK5TbkMeMY9NiQFI9yl7SsXlHVsoWYdkqIV+YeZdFMaG26xtVM4RHR9tLCIad9AAJTUuTFvAqFVCddebTHw=
install:
- cabal install hakyll
- ghc --make site.hs
before_script:
- cd _site
- git checkout master
- git pull origin master
- cd ..
script: "./site build"
after_script:
- cd _site
- git status
- git add --all
- git config --global user.email "kurt.bonne+travis@gmail.com"
- git config --global user.name "Travis"
- git commit -m "snapshot $(date '+%m/%d/%y %H:%M')"
- git push "$REPO_URL" master | grep -v http
- cd ..
